main{
	.inside-article{
		.title-wrapper{
			
			
		}
		
		.title-text{
			
		}
		
		.title.controls{
			
			.sort-controls-outer{
				
				width: 100%;
				display: block;
				
				form#main-form{
					
					.sort-controls{
						
						label{
							display: inline-block;
							width: 100%;
							max-width: 120px;
						}

						select{
							width: calc(100% - 130px);
						}
					}
				}
			}
			
			.cf::after {
					content: "";
					clear: both;
					display: table;
			}
		}
		
		section.opendata-section{
			margin-top: 55px;
			
			
		}
	}
}
